@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="Images/Åndedrætsøvelser.png" />
    <p>Her har du mulighed for at vælge indstillinger for dine Åndedrætsøvelser</p>
    <button type="button" class="btn btn-success" onclick="location.href = '@Url.Action("Create", "Sessions")'">  Indstillinger</button>
</div>
