@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Denne webside anvender login, og derfor er dine data beskyttet af Åndedrætsøvelser1000</p>
<p>Dine data er gemt, og kan kun tilgås af dig som person.</p>


