
@model IEnumerable<Morgenmadsbuffeten_GruppeTo.Models.Entity.BreakfastBuffetDB>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <h1>Kitchen Overview</h1>
</div>


<form id="kitchen" method="get">

</form>
<label for="name" class="col-md-2 col-form-label">Name</label>
    <div class="col-md-10">
        <output type="text" id="name" name="Name"/>
    </div>
