@model IEnumerable<Morgenmadsbuffeten_GruppeTo.Models.Entity.Guest>

<h1>Check-in guests</h1>
<div class="row">
    <p>Please check-in the number of adults and children who wants to enter the breakfast buffet</p>
</div>
<form asp-action="CreateCheckIn" id="check_form">
    <label id="check_label">Room number </label> <input type="text" id="check_input" />

    <label id="check_label">Number of adults </label> <input type="text" id="check_input" />

    <label id="check_label">Number of children </label> <input type="text" id="check_input" />

    <input type="submit" value="Check-in" id="check_Btn" />
    <input type="submit" value="Cancel" id="cancel_Btn" />
</form>