@model IEnumerable<Morgenmadsbuffeten_GruppeTo.Models.Entity.Guest>

<h1>Check-in guests</h1>
<div class="row">
    <p>Please check-in the number of adults and children who wants to enter the breakfast buffet.</p>
</div>
<form asp-action="CreateCheckIn" id="check_form" metod="post">
    <tabel>
        <tr>
            <td><label id="check_label">Room number </label> </td>
            <td><input type="text" id="check_input" /></td>
        </tr>
        <tr>
            <td><label id="check_label">Number of adults </label></td>
            <td><input type="text" id="check_input" /></td>
        </tr>
        <tr>
            <td><label id="check_label">Number of children </label></td>
            <td><input type="text" id="check_input" /></td>
        </tr>

    </tabel>
    <input type="submit" value="Check-in" id="check_Btn" />
    <input type="reset" value="Cancel" id="cancel_Btn" />
</form>
